<!-- home.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
  </head>
  <body>
    <h1>Bienvenido a la página de inicio</h1>
    <p>¡Aquí encontrarás contenido interesante!</p>
  </body>
</html>