@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root,
body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #996e5c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
