<article>
  <ul>
    <li>Nombre:<%= productoFiltrado.nombre %></li>
    <li>Precio: <%= productoFiltrado.precio %></li>
    <li>Descripcion: <%= productoFiltrado.descripcion %></li>
  </ul>
</article>
