body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
}

#form {
  width: 100%;
  max-width: 500px;
  margin: 2rem auto 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

#form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease;
}

#form button {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #1da1f2;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.error-input {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

/* 
<section id="usuarios">
    <div>
      <li>Usuario: Matias. Clase: primer año.</li>
      <button>Editar</button>
    </div>
  </section>
*/

#usuarios {
  list-style: none;
  padding: 4px;
  margin: 2rem auto;
  max-width: 500px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#usuarios-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#usuarios li {
  padding: 10px;
  border-radius: 5px;
}

#usuarios button {
  padding: 2px 4px;
  margin: 2px 0px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #1da1f2;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
