<!DOCTYPE html>
<html>
  <head>
    <title>Iniciar sesión</title>
  </head>
  <body>
    <h1>Iniciar sesión</h1>
    <form method="POST" action="/login">
      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" name="usuario" />
      <button type="submit">Iniciar sesión</button>
    </form>
  </body>
</html>