<!DOCTYPE html>
<html>
  <head>
    <title>Página de usuarios no logueados</title>
  </head>
  <body>
    <h1>Usuario no logueado</h1>
    <p>No has iniciado sesión.</p>
    <a href="/login">Iniciar sesión</a>
  </body>
</html>
