<h1>Formulario de datos de usuario</h1>
<form action="/usuario/mostrar" method="POST">
  <label for="nombre">Nombre: </label>
  <input type="text" id="nombre" name="nombre" />

  <button type="submit">Enviar</button>
</form>
