<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nosotros</title>
  </head>
  <body>
    <h1>Nosotros</h1>
    <p>Esta es la pagina de nosotros</p>
    <p>
      Para ver la lista de productos, <a href="/productos">haz click aqui</a>
    </p>
  </body>
</html>
