<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
  </head>
  <body>
    <h1>Inicio</h1>
    <p>Esta es la pagina de inicio</p>
    <p>
      Para ver la lista de productos, <a href="/productos">haz click aqui</a>
    </p>
  </body>
</html>
